<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>메인 페이지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}">
        <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
        <style>



        </style>
    </head>
    <body>

        <!-- 페이지 내용 -->
        <div class="container px-4 px-lg-5">

            <!-- 슬라이드 -->
            <div class="slide">
              <div class="slide-container">
                    {% for slides in slides_list %}
                        <div class="slide-item"><img class="slide-image" src="{{ slides.image.url }}"  alt="..." /></div>
                     {% endfor %}
              </div>
            </div>
            <div class="pagination"></div>
        <div class="new-product">

            <!--신상품-->
            <br><br>
            <p>NEW</p>
            <hr>
            <div class="product-container">
                {% for good in good_list %}
                {% if good.name == "에어리 무기자차 선크림 50ml" or good.name == "자작나무70 수분 부스팅 크림 50ml" or good.name == "어성초77 클리어패드 (70매+10매 추가증정)" or good.name == "자작나무 70 수분 부스팅 세럼 30ml" %}
                <a href="{% url 'detail' good.id %}" class="product-item">
                    <img src="{{ good.image.url }}"/>
                    <div>
                        <h5 class="product-name">{{ good.name }}</h5>
                        <p class="product-detail">{{ good.price }}원</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="best-product">
            <!-- 인기상품 -->
            <br><br>
            <p>BEST</p>
            <hr>
            <div class="product-container">
                {% for good in good_list %}
                {% if good.name == "어성초 77 토너 500ml" or good.name == "어성초 70 데일리 로션 200ml" or good.name == "어성초 70 수딩 크림 50ml" or good.name == "어성초 80 수분 진정 앰플 30ml" %}
                <a href="{% url 'detail' good.id %}" class="product-item">
                    <img src="{{ good.image.url }}"/>
                    <div>
                        <h5 class="product-name">{{ good.name }}</h5>
                        <p class="product-detail">{{ good.price }}원</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
        <br><br><br>


    </body>
</html>

<!-- 슬라이드쇼 -->
<script type="text/javascript">
    let emblaNode = document.querySelector(".slide");
    let options = { loop: true };

    let embla = EmblaCarousel(emblaNode, options);

    // 페이지네이션 엘리먼트를 선택합니다.
    let pagination = document.querySelector(".pagination");

    // 슬라이드 아이템 수 만큼 페이지네이션 도트 버튼을 생성합니다.
    for (let i = 0; i < embla.slideNodes().length; i++) {
      let dot = document.createElement("div");
      dot.classList.add("pagination-dot");

      // 페이지 버튼에 클릭 이벤트를 추가하여 해당 인덱스의 슬라이드를 보여줍니다.
      dot.addEventListener("click", function () {
        embla.scrollTo(i);
      });

      // 페이지네이션 엘리먼트에 도트를 추가합니다.
      pagination.appendChild(dot);
    }

    // 슬라이드 변경 시 페이지네이션 업데이트를 위한 이벤트 리스너를 추가합니다.
    embla.on("select", () => {
      // 현재 활성화된 슬라이드의 인덱스를 가져옵니다.
      const selectedSlideIndex = embla.selectedScrollSnap();

      // 모든 페이지네이션 도트의 활성화 클래스를 제거합니다.
      pagination.querySelectorAll(".pagination-dot").forEach((dot, index) => {
        dot.classList.remove("active");

        // 현재 슬라이드와 일치하는 도트에 활성화 클래스를 추가합니다.
        if (index === selectedSlideIndex) {
          dot.classList.add("active");
        }
      });
    });

    // 3초마다 자동으로 슬라이드를 넘기는 함수를 정의합니다.
    function autoScroll() {
      embla.scrollNext(); // 다음 슬라이드로 이동
    }

    // 3초마다 autoScroll 함수를 호출하여 자동 스크롤을 시작합니다.
    setInterval(autoScroll, 3000); // 3초(3000밀리초)마다 실행
  </script>
{% endblock %}