<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>공지사항 상세페이지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'notice_detail.css' %}">
        <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    </head>
    <body>
       <!-- 본문 -->
        <div class="container px-4 px-lg-5 mt-5">
            <h3 class="notice">NOTICE</h3>
            <br>
            <div class="notice-detail">
                <div class="header-container">
                    <h5 class="post-title">{{ post_list.title }}</h5>
                    <h5 class="post-pubdate">{{ post_list.pub_date }}</h5>
                </div>
                <p class="post-content">{{ post_list.content }}</p>
            </div>
        </div>
    </body>
</html>
{% endblock %}