<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>메인 페이지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'product.css' %}">
        <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    </head>
    <body>
        <!-- 네비게이션바 -->
        <nav class="navbar navbar-expand-lg"> <!-- navbar-dark bg-dark-->
            <div class="container px-5 py-3">
                <a class="navbar-brand" href="../">YOONHADA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/about/">BRAND</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">PRODUCT</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact/">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 페이지 내용 -->
        <div class="container px-4 px-lg-5">

            <!-- 카테고리 메뉴 -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="category1-tab" data-toggle="tab" href="#category1">전체상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="category2-tab" data-toggle="tab" href="#category2">토너 / 미스트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="category3-tab" data-toggle="tab" href="#category3">에센스 / 앰플</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="category4-tab" data-toggle="tab" href="#category4">로션 / 크림</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="category5-tab" data-toggle="tab" href="#category5">클렌징 / 스크럼</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="category6-tab" data-toggle="tab" href="#category6">선케어 / 팩</a>
                </li>
            </ul>
            <br>

            <!-- 카테고리별 내용 -->
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="category1">
                    <div class="product-container">
                        {% for good in good_list %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="category2">
                    <div class="product-container">
                        {% for good in good_list %}
                        {% if good.category == "토너/미스트" %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="category3">
                    <div class="product-container">
                        {% for good in good_list %}
                        {% if good.category == "에센스/앰플" %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="category4">
                    <div class="product-container">
                        {% for good in good_list %}
                        {% if good.category == "로션/크림" %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="category5">
                    <div class="product-container">
                        {% for good in good_list %}
                        {% if good.category == "클렌징/스크럼" %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="category6">
                    <div class="product-container">
                        {% for good in good_list %}
                        {% if good.category == "선케어/팩" %}
                        <a class="product-item">
                            <img src="{{ good.image.url }}"/>
                            <div>
                                <h5 class="product-name">{{ good.name }}</h5>
                                <p class="product-detail">{{ good.price }}원</p>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- 푸터 -->
        <footer class="footer py-5 ">
            <div class="container px-4 px-lg-5">
                <div class="footer-container">
                    <div class="sub-container">
                      <p class="footer-subtitle">C/S</p>
                      <p class="phone">010-1234-5678</p>
                      <p>AM 10:00 - PM 05:00 (주말 및 공휴일 휴무)</p>
                    </div>
                    <div class="sub-container">
                      <p class="footer-subtitle">COMPANY</p>
                      <div class="footer-company">
                          <p>상호: 윤하다 &nbsp;&nbsp; 대표: 박채윤</p>
                          <p>사업자등록번호: xxx-xx-xxxxx</p>
                          <p>이메일: yoonhada@gmail.com</p>
                          <address>주소: 서울특별시 00구 00대로 000</address>
                      </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>


<!-- 부트스트랩 및 jQuery 및 Popper.js 스크립트 링크 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>