/* 네비게이션 */
.navbar-brand {
    font-size: 40px;

}

 .navbar-nav .nav-link {
    font-size: 25px;
    margin-right: 50px;
}

/* 소개 */
.introduce {
    text-align: center;
}

.title {
    margin: 40px 0px 40px 0px;
}

.img {
    margin-bottom: 40px;
}

.comment {
    margin-bottom: 100px;
    line-height: 60px;
}

.values {
    font-weight: bold;
    font-size: 20px;
}

/* 푸터 */
.footer{
    background-color: #D3D3D3;
    .footer-container {
        display: flex;
        justify-content: space-around;
    }
    .sub-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-subtitle {
        font-size: 20px;
        font-weight: bold;
    }
    .phone {
        font-size: 26px;
        font-weight: bold;
    }
    .footer-company {
        margin-top: 10px;
        text-align: center;
        line-height: 10px;
    }
}

/* 기타 */
hr {
    width: 100%;
    background-color: black;
}